div.on-this-day-container {
    padding: 1rem;
    overflow: auto;
}

blockquote.on-this-day-preview {
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
